{% extends 'base.html' %}

{% block content %}

<div class="message-box">
    <h2>Chat Room: {{room}}</h2>
    <div class="messages" id="messages"></div>
    <div class="inputs">
        <input type="text" rows="3" placeholder="Message" name="message" id="message"/>
        <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
    </div>
</div>
<script type="text/javascript">
    //cdn library for socketio  in base.html gives access to io() function
    var socketio = io();

    const messages = document.getElementById("messages")

    const createMessage = (name, msg) => {
        const content = `
        <div>
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
            <span class="muted">
                <!-- when the data is recieved for reciever -->
                ${new Date().toLocaleString()}
            </span>
        </div>`

        // add message html
        messages.innerHTML += content
    };

    socketio.on("message", (data) => {
        createMessage(data.name, data.message)
    })

    const sendMessage = () => {
        console.log("send")
    }

</script>
{% endblock %}